.projectList {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  width: 100%;
  overflow: auto;
}
.projectList li {
  width: inherit;
  padding: 1.2rem 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.projectList li:hover {
  background-color: #444;
}
